.commentscontainer {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.comments{
    margin-top: 5px;
}

.comments h6{
    display: inline;
    margin-right: 5px;
    font-weight: bold;
}

.comments p{
    display: inline;
}

.input form > input {
    margin-top: 10px;
    background-color: white;
    border: 0px;
    padding: 5px 5px;
    font-size: 0.8rem;
    width: 100%;
    outline: 0;
    color: black;
  }

  .input ::placeholder {
      text-align: left;
      color:  gray;
  }